<h2 mat-dialog-title>Edit Company and Employees</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field>
      <mat-label>Company Name</mat-label>
      <input matInput formControlName="companyName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Company Address</mat-label>
      <input matInput formControlName="companyAddress">
    </mat-form-field>
    <div formArrayName="employees">
      <div *ngFor="let employee of employees.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Employee Name</mat-label>
            <input matInput formControlName="EmployeeName">
          </mat-form-field>
        </div>
      </div>
      <button mat-stroked-button color="primary" (click)="addEmployee()">Add More Employee</button>
    </div>
    <mat-dialog-actions>
      <button mat-stroked-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

