<div class="add-container">
    <form class="example-form">
      <div *ngFor="let field of fields let i = index">
        <mat-icon (click)="addMoreFields()">add_circle</mat-icon>
        <mat-icon  [ngClass]="{'disabled-icon': i === 0}" 
        [attr.disabled]="i === 0 ? true : null" (click)="removeMoreFields(i)">remove_circle</mat-icon>
        <mat-form-field class="example-full-width">
          <input
            matInput
            [attr.name]="'field' + field.id"
            placeholder="Company"
            [attr.id]="'field' + field.id">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input
              matInput
              [attr.name]="'field' + field.id"
              placeholder="Employee"
              [attr.id]="'field' + field.id">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              matInput
              [attr.name]="'field' + field.id"
              placeholder="Position"
              [attr.id]="'field' + field.id">
          </mat-form-field>
      </div>
    </form>
  </div>
  <button type="submit" class="add-action" mat-raised-button color="accent">Accent</button>
  