

  .example-form {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  .example-full-width {
    min-width: 350px;
  }
  .company-form {
    display: flex;
    flex-direction: column;
  }

  .employee-item {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
  }
  .remove-employee {
    align-self: flex-end;
  }
  .add-employee {
    margin-top: 10px;
    width: 350px;
  }
  .form-save {
    margin: 10px 0 100px;
    width: 350px;
  }