<form (ngSubmit)="saveCompany()" class="example-form">
  <div class="company-container">
    <div class="company-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="companyName" name="companyName" matInput placeholder="Company name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="companyAddress" name="companyAddress" matInput placeholder="Company address" required>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="fields.length > 0" class="employee-container">
    <div class="employee-item" *ngFor="let employee of fields; let i = index">
      <button *ngIf="i > 0" class="remove-employee" (click)="removeEmployee(i)" mat-button color="primary">Remove</button>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Employee name" [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}" [attr.name]="'employeeName' + i">
      </mat-form-field>
    </div>
  </div>
  <button type="button" class="add-employee" (click)="add($event)" mat-stroked-button color="primary">Add More Employee</button>
  <button type="submit" class="form-save" mat-raised-button color="primary">Save</button>
</form>
