<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Company Name Column -->
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>
    <td mat-cell *matCellDef="let element"> {{element.company.companyName}} </td>
  </ng-container>

  <!-- Company Address Column -->
  <ng-container matColumnDef="companyAddress">
    <th mat-header-cell *matHeaderCellDef> Company Address </th>
    <td mat-cell *matCellDef="let element"> {{element.company.companyAddress}} </td>
  </ng-container>

  <!-- Employees Column -->
  <ng-container matColumnDef="employees">
    <th mat-header-cell *matHeaderCellDef> Employees </th>
    <td mat-cell *matCellDef="let element">
        <div *ngFor="let employee of element.employees">{{ employee.EmployeeName }}</div>   
    </td>
  </ng-container>
  <ng-container class="action-table" matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button class="edit-action" (click)="editCompany(element)" mat-stroked-button color="primary">Edit</button>
      <button class="delete-action" mat-raised-button color="primary">Delete</button>
    </td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- Row -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
